*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


.pallete{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 1px solid #000;
    border-bottom: 1px solid #000;
}

.pallete .color{
    flex: 1;  
    border-right: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pallete .color:last-child{
    border-right: none
}
.pallete .color-name {
    font-family: monospace;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}


@media(max-width: 767px){
    .pallete .color{
        flex: 1;
        border-bottom: 1px solid #000;
        border-right: none;
    }
    .pallete .color:last-child{
        border-bottom: none;
    }
    .pallete .color-name{
        font-size: 2rem;
    }
}

